{{#if details.items}}
  <div class="browser-link">
    <span class="p-value">
      <a href="https://www.google.com/search?q=%22{{block.entity.value}}%22">
        View in Browser {{fa-icon "external-link-square" class="external-link-icon"}}
      </a>
    </span>
  </div>
  {{#each details.items as |result index|}}
    <div class="search-result">
      <a class="search-header" href="{{result.link}}">
        <span class="display-link">{{result.displayUrl}}</span>
        <span class="header-title">{{result.title}}</span>
      </a>
      <div class="description">{{result.snippet}}</div>
    </div>
  {{/each}}
{{/if}}
